{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
<div style="margin: 2% 0 2% 5%">
    <h1>{% trans "Сброс пароля" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли свой пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам электронное письмо, позволяющее сбросить его." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class = "btn btn-success py-6s" value="{% trans 'Сбросить мой пароль' %}" />
    </form>

    <p>{% blocktrans %}Пожалуйста, свяжитесь с нами, если у вас возникнут проблемы со сбросом пароля.{% endblocktrans %}</p>
</div>
{% endblock %}
