
{% extends 'base.html' %}
{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent"
             style="padding-left: 3rem; padding-right: 3rem;">

            <div class="container">
                 <div class="left-ads-display col-lg-10">
                <div class="row">
                    <h3>Сайт был создан в поддержку диким животным</h3>
                    <br>
                    {{ flatpage.content }}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}