{% extends 'entitys/base.html' %}
{% block header %} bg1 {% endblock header %}
                    {% block entity %}

                    <div class="left-ads-display col-lg-9">
                        <div class="row">

                            {% if not view.get_queryset.exists  %}
                                <h3>Ничего не найдено</h3>
                            {% endif %}
                            {% for entity in entity_list%}
                            <div class="col-md-4 product-men">

                                <div class="product-shoe-info editContent text-center mt-lg-4">
                                    <div class="men-thumb-item">
                                            <img src="{{entity.poster.url}}" class="img-fluid-img" alt="{{image.description}}">
                                    </div>
                                    <div class="item-info-product">
                                        <h4 class="">
                                            <a href="{{ entity.get_absolute_url }}" class="editContent" >
                                                {{entity.title}}
                                            </a>
                                        </h4>

                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money editContent" >{{entity.text_preview}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        </div>

                <div class="grid-img-right mt-4 text-right bg bg1" >
                            {% include 'include/pagination.html' %}
                 </div>

            </div>
    {% endblock entity %}
